.fieldArea {
  width: 86%;
  margin-left: 7%;
  margin-top: 3em;
  border: solid 3px crimson;
  padding: 3em 0 3em 0;
  text-align: center;
  background-color: pink;
}

input {
  padding: .4em 1em .4em 1em;
  border: solid 3px black;
  color: crimson;
  font-weight: bold;
  margin: 1em 0 1em 0;
  /*outline: none;*/
}
